:root {
  --common-black: #000;
  --common-white: #fff;
  --common-blue: #3240bd;
  --common-button-background: #131a52;
  --common-heading: #1d1d1b;
}

body {
  font-family: "Poppins", sans-serif !important;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
span {
  padding: 0;
  margin: 0;
}

.rm-pd {
  padding: 0;
}

.rm-mg {
  margin: 0;
}

.font-common-style {
  font-style: normal;
  line-height: normal;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.panel-wrapper .panel {
  background: var(--common-blue);
  padding: 4px 0px;
  text-align: center;
}

.panel-wrapper .panel .panel-text {
  color: var(--common-white);
  font-size: 12px;
  font-weight: 400;
}

section.main-container {
  padding: 114px 150px;
}

span.black-title {
  color: var(--common-black);
}

span.blue-title {
  color: var(--common-blue);
}

span.black-title,
span.blue-title {
  font-size: 62px;
  font-weight: 600;
  line-height: 66px;
}

p.subtitle {
  color: var(--common-black);
  font-size: 16px;
  font-weight: 300;
  line-height: 66px;
}

.button-container {
  margin-top: 22px;
}

.btn-common {
  padding: 13px 16px;
  border: 1px solid var(--common-heading);
  background: var(--common-button-background);
  width: 335px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  overflow: hidden; /* Hide overflowing content */
}

.btn-common:hover {
  cursor: pointer;
}

.btn-common a {
  color: var(--common-white);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.btn-common img,
.btn-common a {
  transition: transform 400ms ease-in-out; /* Add transition for image and text transformation */
}

.btn-common:hover img {
  transform: translateX(40px); /* Move the image 40px to the right on hover */
}

.btn-common:hover a {
  transform: translateX(-40px); /* Move the text 40px to the left on hover */
  color: var(--common-white);
}

/* our details section */

.our-details {
  padding: 88px 150px;
  background: rgba(50, 64, 189, 0.05);
}

.our-content .details {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.redirection-container {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

p.heading {
  color: var(--common-heading);
  font-size: 28px;
  font-weight: bold;
  line-height: 36px;
}

p.subheading {
  color: var(--common-heading);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.redirection-container a {
  color: var(--common-blue);
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

.our-content-hero {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-content-hero img {
  max-width: 100%;
}

.seperator-container {
  padding: 24px 150px 0 150px;
  background: rgba(50, 64, 189, 0.05);
}

.seperator {
  height: 1px;
  background: #d9d9d9;
}

.redirection-container a {
  position: relative;
  text-decoration: none;
}

.redirection-container a::before {
  content: "";
  position: absolute;
  width: 140px;
  height: 1px;
  bottom: -5px;
  left: 0; /* Start the border from the left */
  background-color: var(--common-blue);
  transform-origin: left; /* Set the transform origin to the left side */
  transform: scaleX(0); /* Initially scale the border to 0 width */
  transition: transform 0.3s ease-in-out;
}

.redirection-container a:hover::before {
  transform: scaleX(1); /* Scale the border to full width on hover */
  transform-origin: left; /* Change the transform origin to the right side */
  transition: transform 0.3s ease-in-out;
}

/* Animate first section */

.text,
.button-container {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/* Animation styles */
.text.animate {
  opacity: 1;
  animation: slideFromLeft 1s ease-in-out;
}

.button-container.animate {
  opacity: 1;
  animation: slideFromRight 1s ease-in-out;
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Cards Tab */

.cards-section {
  background: #fcfcfc;
  padding: 120px 150px;
}

.progress-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bar {
  background: #d9d9d9;
  height: 1px;
  width: 320px;
  border-radius: 4px;
  position: relative;
}

.inner-bar {
  background: var(--common-blue) !important;
  max-width: 70%;
  height: 100%;
  border-radius: 4px;
}

.main-title p {
  color: var(--common-black);
  text-align: center;
  font-size: 44px;
  font-weight: bold;
  line-height: 56px;
}

.progress-bar-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
  margin-bottom: 4px;
  margin-top: 18px;
}

.progress-bar-title span {
  color: var(--common-heading);
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}

.card-tabs {
  margin-top: 18px;
  margin-bottom: 100px;
}

.card-tabs ul#myTab {
  padding: 10px;
  border-radius: 100px;
  background: rgba(50, 64, 189, 0.05);
  /* width: 380px; */
  /* height: 50px; */
  border: 0;
  align-items: center;
  gap: 10px;
  /* justify-content: space-between; */
}

.card-tabs .nav-item button.nav-link {
  width: 184px;
  border: 0;
  outline: 0;
  color: var(--common-heading);
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
}
.card-tabs button.nav-link.active {
  padding: 11px 50px !important;
  border-radius: 100px !important;
  background: #e2e2e2 !important;
}

.cards-section .tab-content {
  width: 100%;
}

.discover-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.discover-card {
  padding: 24px 20px 20px 20px;
  border: 1px solid #000;
  background: #fcfcfc;
  height: 260px;
}

.card-badge {
  display: flex;
  margin-bottom: 20px;
}

.discover-card.first {
  border-right: 0;
}

.discover-card.popular {
  height: 325px;
  margin-top: -28px;
}

.discover-card.last {
  border-left: 0;
}

.discover-card .card-badge span {
  border: 1px solid #000;
  background: rgba(50, 64, 189, 0.05);
  box-shadow: 3px 3px 0px 0px #000;
  padding: 10px;
}

.discover-card .card-title p {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
  margin-bottom: 12px;
}
.discover-card .card-subtitle p {
  color: #1d1d1b;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 10px;
}

.discover-card .card-price p {
  color: #3240bd;
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
}

.discover-card .card-price small {
  color: #1d1d1b;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
}

.discover-card .card-description p {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

.toggle-chevron {
  display: none;
}

/* Animate Discover Cards */

.discover-cards-container {
  opacity: 0;
  transform: translateY(150px) translateX(100px); /* Initial position off-screen */
  transition: opacity 0.5s ease, transform 1s ease; /* Adjust the transform transition duration */
}

.animate-cards {
  opacity: 1;
  transform: translateY(0) translateX(0); /* Position the elements back on-screen */
}

/* Filter tabs design */

.filter-tabs-container {
  padding: 150px;
  background: #f8f8f8;
  overflow-x: hidden;
}

.filter-tabs-container .main-title p {
  text-align: left;
  margin-bottom: 24px;
}

.filter-tabs-container .description p {
  color: #1d1d1b;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.filter-tabs .nav-tabs {
  margin: 74px 0;
  border: 0;
}

.filter-tabs .nav-link {
  border: 1px solid #1d1d1b;
  background: #f5f5f5;
  /* padding: 20px 16px; */
  width: 278px;
  height: 50px;
  border-radius: 0;
  outline: 0;
  color: #1d1d1b;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}

#filter-tab1-tab,
#filter-tab2-tab,
#filter-tab3-tab {
  border-right: 0;
}

.filter-tabs .nav-link:hover {
  border: 1px solid #1d1d1b;
}

.filter-tabs .nav-link.active {
  border: 1px solid #1d1d1b;
  background: #131a52;
  color: #fff;
}

.rank-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.ranking p {
  color: #1d1d1b;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.ranking p small {
  font-size: 18px;
}

.rank-seperator {
  height: 1px;
  background: #1d1d1b;
  margin: 8px 0;
}

.rank-description p {
  color: #1d1d1b;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .filter-tabs .nav-link {
    width: 180px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1300px) {
  .filter-tabs .nav-link {
    width: 245px !important;
  }
}

@media screen and (min-width: 768px) {
  .our-content-hero img {
    opacity: 0;
    transition: opacity 0.8s ease, height 0.8s ease;
    height: 0;
  }

  .our-content:hover + .our-content-hero img {
    opacity: 1;
    height: 100%;
  }

  .our-content:hover + .our-content-hero.first img {
    height: 328px;
    width: 363px;
    object-fit: contain;
  }

  section.seperator-container.two {
    padding-bottom: 100px;
  }

  .filter-tabs-content,
  .tab-content.hide-by-default {
    transition: transform 1s ease;
    transform: translateX(-50%);
    opacity: 0;
  }

  .nav-tabs.hide-by-default {
    transition: transform 1s ease;
    transform: translateX(50%);
    opacity: 0;
  }

  .visible {
    transform: translateX(0) !important;
    opacity: 1 !important;
  }
}

@media screen and (max-width: 768px) {
  section.main-container {
    padding: 110px 20px 44px 20px;
  }

  section.seperator-container {
    display: none;
  }

  .panel-wrapper .panel .panel-text {
    font-size: 9px;
  }
  span.black-title,
  span.blue-title {
    font-size: 40px;
    line-height: 56px;
  }

  p.subtitle {
    font-size: 14px;
    line-height: normal;
  }

  .our-details,
  .seperator-container {
    padding: 44px 20px;
  }

  .our-content-hero {
    padding: 0px 15px 24px 15px;
  }

  .hero-content,
  .our-content {
    padding: 0 15px;
  }

  .btn-common {
    width: 100%;
  }

  .layout {
    flex-direction: column-reverse;
  }

  .our-content-hero.first img {
    width: 237px;
    height: 213px;
    object-fit: contain;
  }

  .our-content-hero.second img {
    width: 311px;
    height: 136px;
    object-fit: contain;
  }
  .cards-section {
    padding: 44px 20px;
  }
  .main-title p {
    font-size: 36px;
    text-align: left;
  }

  .progress-bar-title span {
    font-size: 16px;
  }

  .progress-bar-container {
    align-items: center;
  }

  .progress-bar-title {
    flex-direction: row-reverse;
  }

  .bar {
    width: 290px;
  }

  .inner-bar {
    max-width: 24%;
  }
  .card-tabs ul#myTab {
    padding: 5px;
  }

  .card-tabs {
    margin-top: 20px;
    margin-bottom: 44px;
  }

  .card-tabs button.nav-link.active {
    padding: 10px 16px !important;
  }

  .card-tabs .nav-item button.nav-link {
    width: 125px;
  }

  .discover-cards-container {
    flex-direction: column;
    gap: 6px;
  }

  .discover-card {
    height: 100%;
  }

  .discover-card.first,
  .discover-card.last {
    border: 1px solid #000;
  }

  .discover-card.popular {
    height: 100%;
    margin-top: 0;
  }

  .discover-card .card-title p {
    font-size: 16px;
  }

  .discover-card .card-price p {
    font-size: 24px;
  }

  .hide-mobile {
    display: none;
  }

  .card-price {
    position: relative; /* Position the chevron relative to this container */
  }

  .toggle-chevron {
    display: block;
    position: absolute;
    top: 0%; /* Adjust vertically */
    right: 5px; /* Position to the right */
    transform: translateY(-50%); /* Center vertically */
    cursor: pointer;
  }

  .toggle-chevron.up {
    transform: translateY(-50%) rotate(180deg); /* Rotate for 'up' chevron */
  }

  .filter-tabs-container {
    padding: 44px 20px;
  }

  .filter-tabs-container .description p {
    display: none;
  }

  .filter-tabs .nav-tabs {
    margin: 44px 0;
    justify-content: center;
  }

  .filter-tabs .nav-link {
    width: 80px;
  }

  .rank-container {
    flex-direction: column;
    gap: 24px;
  }
}
